.admonition {
    font-size: 16px;   
}

.sd-summary-title {
    font-size: 18px;   
}

.sd-card-text {
    font-size: 17px;
}

.std-numref {
    font-weight: bold;   
}

.caption-number {
    font-weight: bold;   
}

/* 
.bottom-of-page {
    visibility: visible;
} */
